{
    outline: 5px dotted line;
}



/*UPDATE TYPEFACE!!!! */        


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
 
body {
    background-color: #f2f2f2;
    margin: 0 0 0 0;
    font-family:"Lato", sans-serif; 
}


/*On screens that are 992px or less, set the background color to light blue */ 

@media screen and (max-width: 1600px) {
  body {
    background-color: lightblue;
  }
}

.background-img1 {
    background-image: url("Components/1A.jpg");
    min-height: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.background-img2 {
    background-image: url("Components/2A.jpg");
    min-height: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.background-img3 {
    background-image: url("Components/3A.jpg");
    min-height: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}


.background-img4 {
    background-image: url("Components/4A.jpg");
    min-height: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.logo-top {
    width: 10px;
    height: auto;
   
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
    padding-top: 5px;
}

 .logo-top{
     width: 130px;
     height: auto;
     display: inline;
}

.nav a {
    line-height: 130px;
    float: left;
    color: #f2f2f2;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 12px;
}

#work {
    background-color: navy;
    height:300px;
}

