

/* NAVIGATION MOBILE STARTS */
.CoucouLogo {
    margin-top: -2px;
    width: 118px;
}

.topnav {
    overflow: hidden;
    background-color: darkblue;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: darkblue;
    color: white;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: darkblue;
    color: white;
}
/* NAVIGATION MOVBILE ENDS */



/* BOX RULES STARTS */
.mobile-container {
    background-color: darkblue;
    height: auto;
}

.Navigation {
    padding: 0px;
    background-color: red;
    height: 100px;
    padding-left: 30px;  
    padding-top: 100;
}

.PageTitle {
    font-size: 40pt;
    text-align: center;
    padding-top: 30px;
    background-color: #fffef6;
    height: 140px;
    padding-left: 30px; 
}

blue {
    font-size: 20pt;
    text-align: center;
    padding-top: 50px;
    background-color: #3FB4FF;
    height: 100px;
    padding-left: 30px;  
    padding-top: 100;
}

.orange {
    background-color: #ffae2e;
    height: auto;
} 

.IntroText {
    padding-top: 20px;
    padding-bottom: 230px;
    background-color: #fffef6;
    height: 260px;
} 

.grey {
    padding-bottom: 50px;
    background-color: #fffef6;
    height: 250px;
} 

.SiteMap {
    text-align: center;
    background-color: #8c0034;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.NavHeader {
    color: white;
    font-weight: bold;
    text-align: left
}

.NavItem {
    color: white;
    text-align: left
}

.copyright {
    background-color: darkblue;
    padding-top: 3px;
    text-align: right;
    height: 20px;
    color:white;
    font-size: 6pt;
}
 /* BOX RULES ENDS */


 /* MOBILE PICTURE RULE STARTS */
.card-img-overlay{
    margin-left: 10px;
}
.text-color {
    font-size: 15pt;
    Color: #000;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
}

.PictureMobile {
    max-width: 100%;
}
 /* MOBILE PICTURE RULE ENDS */