/* NAVIGATION MOBILE START */
.mobile-container {
    background-color: darkblue;
    height: auto;
}

.CoucouLogoSmall {
    margin-top: -2px;
    width: 142px;
}

topnav {
    overflow: hidden;
    background-color: darkblue;
    position: relative;
}

.topnav #MobileNavigation {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: darkblue;
    color: white;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #8c0034;
    color: yellow;
}

.topnav .special {
    color: yellow;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav .special:hover {
    background-color: #8c0034;
    color: yellow;
}
/* NAVIGATION MOVBILE END */





/* NAVIGATION TABLET/DESKTOP START */
.Navigation {
    background-color: darkblue;
    height: 70px;
    padding-top: 30px;
    text-align: right; 
}

.Navigation .unselected {
    font-size: 12pt;
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

.Navigation .unselected:hover {
    color: yellow;
}

.Navigation .selected {
    font-size: 12pt;
    padding-right: 15px;
    text-decoration: none;
    color: Yellow;
}

.CoucouLogoLarge {
    margin-top: -20px;
    float: left;
    width: 118px;
}

.Navigation .special {
    font-size: 12pt;
    font-weight: 600;
    padding-right: 15px;
    text-decoration: none;
    color: #b2e2f9;
}

.Navigation .special:hover {
    color: yellow;
}
/* NAVIGATION TABLET/DESKTOP END */





/* HEADING RULES START */
.PageTitle {
    color: darkblue;
    font-size: 40pt;
    text-align: center;
    padding-top: 40px;
    background-color: #fffef6;
    height: 140px;
}
 
.HomePageTitleSmall {
    color: darkblue;
    font-size: 33pt;
    line-height: 35pt;
    text-align: center;
    padding-top: 50px;
    background-color: #fffef6;
    height: 140px;
}

.HomePageTitleMedium {
    color: darkblue;
    font-size: 40pt;
    text-align: center;
    padding-top: 40px;
    background-color: #fffef6;
    height: 170px;
}

h4 { 
    background-color: #699bff;
    color: white; 
    padding: 5px;
    border-bottom: 10px solid #b3e4fa;
}

h5 {
    color: darkblue;
}

.IntroText {
    height: auto;
    font-size: 11pt;
    padding-bottom: 70px;
}

.IntroTablet { 
    height: auto;
    font-size: 11pt;
    padding-bottom: 70px;
}


.PageIntroText {
    padding-bottom: 50px;
}

.
/* HEADING RULES END */





/* BOX RULES STARTS */
.LogoBoxSmall {
    background-color: darkblue;
    color: white;
}

.MainContentBOX {
    background-color: #fffef6;
    height: auto;
}

.AdditionalInfoBOXrules {
    background-color: #fffef6;
    height: auto;
    padding-bottom: 90px;
}

.KidsTeensBox {
    background-color: #fffef6;
    height: auto;
    padding-bottom: 10px;
}

.AdultTimetableBox {
    padding-bottom: 90px;
}
.TripSubheadingBox{
    padding-top: 10px;
    padding-bottom: 10px;
}

.HomeSubheadingBox{
    background-color: #fffef6;
    padding-bottom: 50px;
}

.NewsletterBox{
    background-color: #fffef6;
    padding-bottom: 100px;
}

.TermDatesBox {
    background-color: #fffef6;
    padding-top: 5px;
    padding-bottom: 30px;
}

.SociaMediaBox {
    background-color: #8c0034;
    padding-bottom: 20px;
}
/* BOX RULES ENDS */





/* PICTURE BOX RULES START */
.SlideshowBOX{
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.PictureBoxMobile {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
} 

.PictureBoxTablet {
    padding-bottom: 25px;
    background-color: #fffef6;
    height: auto;
}

.PictureBoxLaptop {
    padding-bottom: 50px;
    background-color: #fffef6;
    height: auto;
}

.PictureBoxDesktop {
    padding-bottom: 70px;
    background-color: #fffef6;
    height: auto;
}

.TripPictureBoxMobile {
    background-color: #fffef6;
    height: 350px;
}

.TripPictureBoxLaptop {
    background-color: #fffef6;
    height: 450px;
}

.TripPictureBoxDesktop {
    background-color: #fffef6;
    height: 450px;
}
/* PICTURE BOX RULES END */





/* PICTURE RULES START */
.card-img-overlay{
    margin-left: 15px;
    margin-top: 5px;
}

.text-color {
    font-size: 15pt;
    Color: #000;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
}

.PictureMobile {
    max-width: 100%;
}

.PictureTablet {
    height: 340px;
    width: 695px;
    object-fit: cover;
}

.PictureLaptop  {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.PictureDesktop {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.TripPictureMobile {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.TripPictureTablet {
    height: 400px;
    width: 695px;
    object-fit: cover;
    padding-bottom: 30px;
}

.TripPictureLaptop  {
    height: 400px;
    width: 450px;
    object-fit: cover;
    text-align: center;
}

.TripPictureDesktop  {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
/* PICTURE RULES START */





/* TIMETABLE BUTTON RULES START */
.button {
    background-color: darkblue; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Timetable1{
    padding-top: 10px;    
}

#Timetable2{
   padding-top: 10px;   
}
/* TIMETABLE BUTTON RULES END */





/* SLIDESHOW RULES START */
.SlideshowPic {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides:first-of-type {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    background-color: #8c0034; 
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: yellow;
    color: #699bff !important;
}

.SlidshowText {
    color: #000;
    font-size: 15pt;
    padding-top: 5px; padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbertext {
    color: #000;
    font-size: 12pt;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}   

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/* SLIDESHOW RULES END */





/* NEWSLETTER RULES START */
.newsletter {
padding: 80px 0;
background: #b3e4fa ;
}

.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; 
}

.newsletter .content h2 {
color: darkblue;
margin-bottom: 40px; 
}

.newsletter .content .form-control {
height: 50px;

}

.newsletter .content.form-control:focus {
box-shadow: none;
}

.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
background: #699bff;
color: #fff;
font-weight:600;
}
/*NEWSLETTER RULES END */





/* SITEMAP RULES START */
.SiteMapHeader {
    font-size: 17px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    text-align: center;   
}

.SiteMapBox {
    background-color: #8c0034;
    height: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.SiteMapBox a {
    font-size: 12pt; 
    color: white;  
    text-decoration: none;
    text-align: center;
}

.SiteMapItem {
    padding-bottom: 5px;
    text-align: left;
}

.SiteMapBox a:hover {
    color: yellow;
    background:none
}

.dropbtn {
    background:none;
    color: white;
    font-size: 12pt;
    font-weight:bold;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background: none;
    outline:none;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background:none;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: white;
    font-size: 11pt;
    text-decoration: none;
    display: block;
    padding-bottom: 3px;
}

.dropdown-content a:hover {
    color: yellow;
    background:none
}
    
.show {
    display:block;
}

.Copyright {
    background-color: darkblue;
    padding-top: 3px;
    margin-right: 100px;
    text-align: right;
    height: 20px;
    color:white;
    font-size: 6pt;
}
/* SITEMAP RULES END */





/* SOCIAL MEDIA RULES START */
.SocialMediaIcons {
    text-align: center;
    padding-bottom: 20px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    border: 2px solid #fffef6;
}
    
.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white !important;
}

.fa-youtube {
  background: #bb0000;
  color: white !important;
}

.fa-instagram {
  background: #125688;
  color: white !important;
}
/* SOCIAL MEDIA RULES END */