/* NAVIGATION MOBILE STARTS */
.mobile-container {
    background-color: darkblue;
    height: auto;
}

.CoucouLogo {
    margin-top: -2px;
    width: 118px;
}

.topnav {
    overflow: hidden;
    background-color: darkblue;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: darkblue;
    color: white;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: darkblue;
    color: white;
}
/* NAVIGATION MOVBILE ENDS */



/* NAVIGATION TABLET/DESKTOP STARTS */
.Navigation {
    background-color: darkblue;
    height: 70px;
    padding-top: 30px;
    text-align: right; 
}

.Navigation a {
    font-size: 12pt;
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

.Navigation a:hover {
    color: yellow;
}

.CoucouLogoTablet {
    margin-top: -20px;
    float: left;
    width: 118px;
}
/* NAVIGATION TABLET/DESKTOP ENDS */



/* MAIN CONTENT RULES STARTS */
.PageTitle {
    color: darkblue;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    background-color: #fffef6;
    height: 140px;
    padding-left: 30px; 
}

.MainContentBOX {
    background-color: #fffef6;
    height: auto;
} 

h3 /* Trips page */{
    color:darkblue;
} 

h4 /* Trips page */{ 
    background-color: #8c0034;
    color: white; 
    padding: 5px;
}

h5 /* Trips page */{
    color:red;
}

.IntroText {
    background-color: #fffef6;
    height: 240px;
    font-size: 11pt;
    padding-top: 10px;
}

.IntroTablet {
    padding-top: 10px;
    padding-bottom: 230px;
    background-color: #fffef6;
    height: 430px;
    font-size: 12pt;
}

.PictureBoxMobile {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
} 

.PictureBoxTablet {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
}

.PictureBoxDesktop {
    padding-bottom: 90px;
    background-color: #fffef6;
    height: auto;
}

.TripSubheading{
    padding-top: 10px;
    padding-bottom: 10px;
}

.TripPictureBoxMobile {
    background-color: #fffef6;
    height: 350px;
}

.TripPictureBoxLaptop {
    background-color: #fffef6;
    height: 450px;
}

.TripPictureBoxDesktop {
    background-color: red;
    height: 450px;
}

.AdditionalInfoBox {
    height: auto;
}

.AdditionalInfo {
    background-color: #fffef6;
    height: auto;
    padding-bottom: 90px;
}
/* MAIN CONTENT RULES ENDS */



/* PICTURE RULES STARTS */
.card-img-overlay{
    margin-left: 10px;
}

.text-color {
    font-size: 15pt;
    Color: #000;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.PictureMobile {
    max-width: 100%;
}

.PictureTablet {
    height: 340px;
    width: 335px;
    object-fit: cover;
}

.PictureLaptop  {
    height: 400px;
    width: 550px;
    object-fit: cover;
}

.PictureDesktop {
    height: 500px;
    width: 700px;
    object-fit: cover;
}

.TripPictureMobile {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.TripPictureTablet {
    height: 400px;
    width: 695px;
    object-fit: cover;
    padding-bottom: 30px;
}

.TripPictureLaptop  {
    height: 400px;
    width: 450px;
    object-fit: cover;
    text-align: center;
}

.TripPictureDesktop  {
    height: 500px;
    width: 700px;
    object-fit: cover;
}
/* PICTURE RULES STARTS */



/* SITEMAP RULES STARTS */
.SiteMapHeader {
    font-size: 17px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    text-align: center;   
}

.SiteMapBox a {
    font-size: 12pt; 
    color: white;  
    text-decoration: none;
        text-align: center;
}

.SiteMapItem {
    padding-bottom: 5px;
    text-align: left;
}

.SiteMapBox a:hover {
    color: yellow;
    background:none
}

.SiteMapBox {
    background-color: #8c0034;
    height: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.Copyright {
    background-color: darkblue;
    padding-top: 3px;
    margin-right: 100px;
    text-align: right;
    height: 20px;
    color:white;
    font-size: 6pt;
}

.dropbtn {
    background:none;
    color: white;
    font-size: 12pt;
    font-weight:bold;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;
}

dropbtn:hover, .dropbtn:focus {
    background: none;
    outline:none;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background:none;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: white;
    font-size: 11pt;
    text-decoration: none;
    display: block;
    padding-bottom: 3px;
}

.dropdown-content a:hover {
    color: yellow;
    background:none
}
    
.show {
    display:block;
}
/* SITEMAP RULES ENDS */