/* NAVIGATION MOBILE STARTS */
.CoucouLogo {
    margin-top: -2px;
    width: 118px;
}

.topnav {
    overflow: hidden;
    background-color: darkblue;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: darkblue;
    color: white;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: darkblue;
    color: white;
}
/* NAVIGATION MOVBILE ENDS */



/* BOX RULES STARTS */
.mobile-container {
    background-color: darkblue;
    height: auto;
}

.Navigation {
    padding: 0px;
    background-color: red;
    height: 100px;
    padding-left: 30px;  
    padding-top: 100;
}

.PageTitle {
    font-size: 40pt;
    text-align: center;
    padding-top: 30px;
    background-color: #fffef6;
    height: 140px;
    padding-left: 30px; 
}

.blue {
    font-size: 20pt;
    text-align: center;
    padding-top: 50px;
    background-color: #3FB4FF;
    height: 100px;
    padding-left: 30px;  
    padding-top: 100;
}

.orange {
    background-color: #ffae2e;
    height: auto;
} 

.IntroText {
    background-color: #fffef6;
    height: 260px;
    font-size: 11spt;
    padding-bottom: 50px;
}

.IntroText2 {
    padding-bottom: 230px;
    background-color: #fffef6;
    height: 320px;
    font-size: 11pt;
} 

.PictureBox {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
} 

.PictureBoxLG {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
} 
.NavHeader {
    color: white;
    font-weight: bold;
    text-align: left
}

.NavItem {
    font-size: 11pt; 
    color: white;
    text-align: left
}

.SiteMap {
    text-align: center;
    background-color: #8c0034;
    height: auto;
    padding-top: 40px;
}

.copyright {
    background-color: darkblue;
    padding-top: 3px;
    text-align: right;
    height: 20px;
    color:white;
    font-size: 6pt;
}
 /* BOX RULES ENDS */



/* PICTURE RULES STARTS */
.card-img-overlay{
    margin-left: 10px;
}
.text-color {
    font-size: 15pt;
    Color: #000;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.PictureMobile {
    max-width: 100%;
}

.PictureTablet {
    max-width: 120%;
}

.PictureLG {
    max-width: 100%;
}
/* PICTURE RULES STARTS */



/*BOTTOM SITEMAP STARTS*/
.dropbtn {
    background:none;
    color: white;
    font-size: 12pt;
    font-weight:bold;
    border: none;
    cursor: pointer;
}

dropbtn:hover, .dropbtn:focus {
    background: none;
    outline:none;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background:none;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: white;
    font-size: 11pt;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background:none
}
    
.show {
    display:block;
}
/*BOTTOM SITEMAP ENDS