/* NAVIGATION MOBILE STARTS */
.mobile-container {
    background-color: darkblue;
    height: auto;
}

.CoucouLogo {
    margin-top: -2px;
    width: 118px;
}

.topnav {
    overflow: hidden;
    background-color: darkblue;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: darkblue;
    color: white;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: darkblue;
    color: white;
}
/* NAVIGATION MOVBILE ENDS */



/* NAVIGATION TABLET/DESKTOP STARTS */
.Navigation {
    background-color: darkblue;
    height: 70px;
    padding-top: 30px;
    text-align: right; 
}

.Navigation a {
    font-size: 12pt;
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

.CoucouLogoTablet {
    margin-top: -20px;
    float: left;
    width: 118px;
}
/* NAVIGATION TABLET/DESKTOP ENDS */



/* MAIN CONTENT RULES STARTS */
.PageTitle {
    font-size: 40pt;
    text-align: center;
    padding-top: 30px;
    background-color: #fffef6;
    height: 140px;
    padding-left: 30px; 
}

.MainContentBOX {
    background-color: #ffae2e;
    height: auto;
} 

.IntroText {
    background-color: #fffef6;
    height: 240px;
    font-size: 11pt;
    padding-top: 10px;
}

.IntroTablet {
    padding-bottom: 230px;
    background-color: #fffef6;
    height: 430px;
    font-size: 12pt;
}

.PictureBoxMobile {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
} 

.PictureBoxLG {
    padding-bottom: 15px;
    background-color: #fffef6;
    height: auto;
}
/* MAIN CONTENT RULES ENDS */



/* PICTURE RULES STARTS */
.card-img-overlay{
    margin-left: 10px;
}

.text-color {
    font-size: 15pt;
    Color: #000;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.PictureMobile {
    max-width: 100%;
}

.PictureTablet {
    height: 310px;
    width: 335px;
    object-fit: cover;
}

.PictureDesktop  {
    height: 400px;
    width: 600px;
    object-fit: cover;
}
/* PICTURE RULES STARTS */



/* SITEMAP RULES STARTS */
.SiteMapHeader {
    font-size: 17px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    text-align: center;   
}

SiteMap {
    text-align: right;
    background-color: rebeccapurple;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;

}

.copyright {
    background-color: darkblue;
    padding-top: 3px;
    text-align: right;
    height: 20px;
    color:white;
    font-size: 6pt;
}

.dropbtn {
    background:none;
    color: white;
    font-size: 12pt;
    font-weight:bold;
    border: none;
    cursor: pointer;
}

dropbtn:hover, .dropbtn:focus {
    background: none;
    outline:none;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background:none;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: white;
    font-size: 11pt;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: yellow;
    background:none
}
    
.show {
    display:block;
}
/* SITEMAP RULES ENDS */