* {
    outline: 5px dotted line;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
 
body {
    background-color: #f2f2f2;
    margin: 0 0 0 0;
    font-family:"Lato", sans-serif; 
}

@media screen and (max-width: 550px) {
    body {
        background-color: green;
    }
}

.header {
    background-color: #2d2f3b;
    color: white;
    height: 90px;
    border-bottom: 6px solid #4b4e61;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.logo {
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #4b4e61;
}

.links a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.salmon {
    color: #f16c65;
}

.banner {
    background-color: #f16c65;
    padding: 20px 0;
    text-align: center; 
}

.banner img {
    max-width: 1000px;
    width: 90%;
}

#our-services {
    background-color: f2f2f2;
    height: 500px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#our-services .heading {
    color: #666d89;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}

#our-services .sub-heading {
    color: #666d89;
    line-height: 22pt;
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 10px;
}

#blue-row-1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    padding-bottom: 40px;
}

#blue-row-1 .blue-heading {
    color: #666d89;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-align: justify; 
}

#blue-row-1 .blue-heading .blue-sub-heading {
    color: #666d89;
    font-weight: lighter;
    font-size: 12px;
    line-height: 16pt;
    padding-top: 10px;
    padding-right: 20px;
}

#blue-row-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    text-align: center; 
}

#blue-row-2 .blue-heading {
    color: #666d89;
    text-align: left;
    font-size: 20px;
    text-align: justify; 
}

#blue-row-2 .blue-heading .blue-sub-heading {
    font-size: 12px;
    line-height: 16pt;
    padding-top: 10px;
    padding-right: 20px;
}
