/* {
    outline: 5px dotted line;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
 
body {
    background-color: #f2f2f2;
    margin: 0 0 0 0;
    font-family:"Lato", sans-serif; 
}

@media screen and (max-width: 550px) {
    body {
        background-color: green;
    }
}

.header {
    background-color: #2d2f3b;
    color: white;
    height: 90px;
    border-bottom: 6px solid #4b4e61;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.logo {
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #4b4e61;
}

.links a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.salmon {
    color: #f16c65;
}

.banner {
    background-color: #f16c65;
    padding: 20px 0;
    text-align: center;
    border-bottom: 6px solid #ea676c;
}

.banner img {
    max-width: 1000px;
    width: 90%;
}

#our-services {
    background-color: f2f2f2;
    height: 520px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #fff;
}

#our-services .services-heading {
    color: #666d89;
    font-size: 22pt;
    font-weight: bold;
    padding-top: 40px;
}

#our-services .services-sub-heading {
    color: #666d89;
    line-height: 22pt;
    font-size: 13pt;
    font-weight: lighter;
    padding-bottom: 10px;
}

#blue-row-1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    padding-bottom: 40px;
}

#blue-row-1 .blue-heading {
    color: #666d89;
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    text-align: justify; 
}

#blue-row-1 .blue-sub-heading {
    color: #666d89;
    font-weight: lighter;
    font-size: 9pt;
    line-height: 16pt;
    padding-top: 10px;
    padding-right: 20px;
}

#blue-row-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    text-align: center; 
}

#blue-row-2 .blue-heading {
    color: #666d89;
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    text-align: justify; 
}

#blue-row-2 .blue-sub-heading {
    font-size: 9pt;
    font-weight: lighter;
    line-height: 16pt;
    padding-top: 10px;
    padding-right: 20px;
}

#portfolio {
    background-color: #2d2f3b;
    height: 980px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #313745;
}

#portfolio .portfolio-heading {
    color: #666d89;
    font-size: 22pt;
    font-weight: bold;
    padding-top: 40px;
}

#portfolio .portfolio-sub-heading {
    color: #666d89;
    line-height: 22pt;
    font-size: 13pt;
    font-weight: lighter;
}

.links-portfolio a {
    font-size: 0.85rem;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 40px;
}

.p-cream {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.p-blue {
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#p-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 57px;
    padding-top: 20px;
    grid-column-gap: 20px;
}

#p-image .art {
    width: 100%; 
    height: 120%;
}

#about {
    background-color: #f2f2f2;
    height: 750px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #fff;
}

#about .about-heading-1 {
    color: #666d89;
    font-size: 22pt;
    font-weight: bold;
    padding-top: 40px;
}
#about .about-sub-heading-1 {
    color: #666d89;
    line-height: 22pt;
    font-size: 13pt;
    font-weight: lighter;
}

#about-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 57px;
    text-align: center;
    padding-top: 20px;
    grid-column-gap: 20px;
}

#about .about-heading-2 {
    color: #666d89;
    font-size: 17pt;
    text-align: left;
    font-weight: bold;
    padding-top: 20px;
}
#about .about-sub-heading-2 {
    color: #666d89;
    line-height: 17pt;
    font-size: 9pt;
    font-weight: lighter;
    padding-top: 5px;
}

#about-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 57px;
    text-align: left;
    padding-top: 20px;
    grid-column-gap: 20px;
}

#about-image .portrait {
    width: 100%; 
    height: 120%;
}

#about-media .media {
    width: auto; 
    height: auto;
}

#quote {
    background-color: #f16c65;
    height: 750px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #ea676c;
}

#quote .quote-heading {
    color: #eed9d8;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
#quote .quote-sub-heading {
    color: #eed9d8;
    line-height: 22pt;
    font-size: 13pt;
    font-weight: lighter;
}
#quote-grid {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 20px;
}
    
#quote-grid .name {
    color: #e87876;
    font-size: 10pt;
    border-radius: 5px;
    border-color:#287EC7;
    background: #d75650;
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left; 
}

#quote-grid .email {
    color: #e87876;
    font-size: 10pt;
    border-radius: 5px;
    border-color:#287EC7;
    background: #d75650;
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#quote-grid .subject {
   color: #e87876;
    font-size: 10pt;
    border-radius: 5px;
    border-color:#287EC7;
    background: #d75650;
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left; 
}

#quote-grid .describe {
    color: #e87876;
    font-size: 10pt;
    border-radius: 5px;
    border-color:#287EC7;
    background: #d75650;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 200px;
    text-align: left;  
}

#quote-grid .heading {
    color: #eed9d8;
    font-style: bold;
    font-size: 15pt;
    padding-bottom: 20px;
    padding-right: 50px;
}

#quote-grid .sub-heading {
    color: #eed9d8;
    font-style: lighter;
    line-height: 18pt;
    font-size: 9pt;
    padding-top: 10px;
    padding-bottom: 20px;
}

#quote-grid .address {
    color: #eed9d8;
    font-size: 9pt;
    padding-top: 8px;
    
}

#quote-grid .address img{
    padding-right: 10px;
    text-align: center;
    
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2d2f3b;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px
}
  
#footer .text{
    color: #666d89;
    font-size: 9pt;
    text-align: left;
    padding-top: 11px;
    grid-column: 1/2;
}  

#footer .image{
    font-size: 9pt;
    text-align: right;
    grid-column: 3/3;
}  